.fashion-page {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: aquamarine;
}

.fashion-header {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}

.fashion-articles {
  margin-top: 20px;
  color: black;
}

.fashion-article {
  border-bottom: 1px solid #86b3ea;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.fashion-article h2 {
  margin: 0 0 10px;
}

.fashion-article p {
  margin: 10px 0;
}

.fashion-article img.fashion-article-image {
  max-width: 40%;
  height: auto;
  margin: 10px 0;
}
